{% liquid
  assign current_variant = product.selected_or_first_available_variant
%}

<span class="price">
  {% if current_variant.compare_at_price > current_variant.price %}
    <span>{{ current_variant.price | money }}</span>
    <s>{{ current_variant.compare_at_price | money }}</s>
  {% else %}
    <span>{{ current_variant.price | money }}</span>
  {% endif %}
</span>
