{% if section.settings.text != blank %}
  <div class="announcement" role="region" aria-label="Announcement">
    {{ section.settings.text }}
  </div>
{% endif %}

{% schema %}
{
  "name": "Announcement bar",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "New ethnic collection is live - shop festive styles today"
    }
  ]
}
{% endschema %}
